* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.main-section {
    padding-bottom: 5%;
}


.bg {
    opacity: .08;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 75%;
    height: auto;
}

.main-section {
    margin: 15px;
}

nav header {
    margin: 15px 0 0 10px;
    /* margin: 0 10px; */
}

section {
    border-bottom: 1px solid black;
}

header h3, nav header {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
}

#sidebar {
    margin: 0;
    padding: 0;
    /* padding-bottom: 2%; */
    width: 300px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}


/* Sidebar links */
#sidebar a {
    display: block;
    color: black;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    /* border-bottom: 1px solid black; */
    /* border-right: 1px solid black; */
}

/* Active/current link */
#sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
#sidebar a:hover:not(.active) {
    background-color: red;
    color: white;
}

#sidebar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#sidebar a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
#main-doc {
    margin-left: 300px;
    padding: 1px 25px;
    /* margin-top: 10px; */
    /* height: 100vh; */
}

#contact {
    border-bottom: none;
}

#video-divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#training-method-cards {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
}

#BTW-Highlights {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#BTW-Highlights img {
    max-width: 500px;
    max-height: auto;
}

.card {
    margin: 0 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}




.videoDiv {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin: 20px 20px;
    padding: 10px 0;
    /* background-color: wheat; */
    text-align: left;
}

.videoDiv img {
    width: 100%;
    height: auto;
}

.nav-bottom-img {
    display: flex;
    padding-top: 100px;

}

.nav-bottom-img img {
    width: 100%;
    height: auto;
}





/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    #sidebar a {
        float: left;
    }

    #main-doc {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    #sidebar a {
        text-align: center;
        float: none;
    }
}